[Unit]
Description=Swayidle inhibitor when watching content or listening to audio
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/swaddle
User=nobody
Restart=on-failure

[Install]
WantedBy=multi-user.target

